{% extends 'base.html.twig' %}
{% block sidebar %}
    
{% endblock sidebar %}
{% block body %}
<div class="w-full h-screen flex">
    <div class="w-1/2 h-full bg-no-repeat bg-center bg-cover" style="background-image: url('img/Variant3.png')">
    </div>
    <div class="w-1/2 h-full flex flex-col justify-around items-center ">
        
        <div class="w-full h-1/2 flex flex-col justify-around items-center">
            <div class="w-2/5 flex flex-col justify-start">
                <h2 class="text-base font-semibold mb-2">Selectionnez votre vue</h2>
                <h4 class="text-xs text-gray-500 ">Que souhaitez-vous faire ?</h4>
            </div>
            <div class=" w-2/5">
                <div class="flex justify-between mb-4">
                    <div class="bg-blue-200 w-36 h-36 rounded-lg">
                        <a href="controleur.php?page=documents&action=read" class="w-full h-full flex flex-col justify-around items-center">
                            <img src="img/file.gif" alt="" class="w-20">
                            <p class="text-blue-950 font-semibold">Rapports</p> 
                        </a>
                    </div>
                    <div class="bg-pink-200 w-36 h-36 rounded-lg">
                        <a href="controleur.php?page=asr&action=read" class="w-full h-full flex flex-col justify-around items-center">
                            <img src="img/commune.gif" alt="" class="w-20">                   
                            <p class="text-pink-950 font-semibold">Communes</p> 
                        </a>
                    </div>
                </div>
                <div class="flex justify-between">
                    {% if session.username is defined %}
                    {% if session.role_id == 1 %}
                        <div class="bg-yellow-200 w-36 h-36 rounded-lg">
                            <a href="controleur.php?page=categories&action=read" class="w-full h-full flex flex-col justify-around items-center">
                                <img src="img/cat.gif" alt="" class="w-20">                    
                                <p class="text-yellow-900 font-semibold">Categories</p> 
                            </a>
                        </div>
                        <div class="bg-green-200 w-36 h-36 rounded-lg ">
                            <a href="controleur.php?page=admin&action=read" class="w-full h-full flex flex-col justify-around items-center">
                                <img src="img/user.gif" alt="" class="w-20">
                                <p class="text-green-900 font-semibold">Comptes</p> 
                            </a>
                        </div>
                    {% endif %}
                    {# {% else %}
                    <div class="bg-green-200 w-36 h-36 rounded-lg ">
                        <a href="controleur.php?page=user&action=login" class="w-full h-full flex flex-col justify-around items-center">
                            <img src="img/file.gif" alt="" class="w-20">
                            <p class="text-green-900 font-semibold">Connexion</p> 
                        </a>
                    </div> #}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% if session.username is null %}
        <a href="controleur.php?page=user&action=login" class="flex mr-2 px-4 py-2 text-blue-600 rounded hover:bg-blue-50 border border-blue-300 transition duration-200 cursor-pointer">
            {# <img src="img/file.gif" alt="" class="w-20"> #}
            <p class="ml-1"> 
                Connexion
            </p>
        </a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}