<div class="sm:rounded-t-lg mb-4">
    <table class="w-full text-sm text-left rtl:text-right ">
        <thead class=" text-xs uppercase bg-gray-200  ">
            <tr>
                <th scope="col" class="px-6 py-4">
                    Id
                </th>
                <th scope="col" class="px-6 py-4">
                    Nom
                </th>
                <th scope="col" class="px-6 py-4">
                    Categories
                </th>
                <th scope="col" class="px-6 py-4">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for category_name, documents in documentsByCategory %}
            {% set first_document = documents|first %}
            {% if first_document.type_doc != 1 and first_document.type_doc != 2 %}
            {% for document in documents %}
            <tr class="commune-item odd:bg-neutral-50 even:bg-gray-100">
                <td class="px-6 py-4">
                    {{ document.idt_doc }}
                </td>
                <td class="px-6 py-4">
                    {{ document.titre }} : {{document.type_doc}}
                </td>
                <td class="px-6 py-4">
                    {% if document.type_doc == 3 %}
                    <span class="inline-block h-4 w-4 bg-blue-500 ml-2 rounded-full"></span>
                    {% elseif document.type_doc == 4 %}
                    <span class="inline-block h-4 w-4 bg-amber-900 ml-2 rounded-full"></span>
                    {% elseif document.type_doc == 5 %}
                    <span class="inline-block h-4 w-4 bg-pink-200 ml-2 rounded-full"></span>
                    {% elseif document.type_doc == 6 %}
                    <span class="inline-block h-4 w-4 bg-green-500 ml-2 rounded-full"></span>
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    <p>VOIR</p>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>