<div class="sm:rounded-t-lg mb-4">
    <table class="w-full text-sm text-left rtl:text-right ">
        <thead class=" text-xs uppercase bg-gray-200  ">
            <tr>
                <th scope="col" class="px-6 py-4">
                    Id
                </th>
                <th scope="col" class="px-6 py-4">
                    Email
                </th>
                <th scope="col" class="px-6 py-4">
                    Username
                </th>
                <th scope="col" class="px-6 py-4">
                    Role
                </th>
                <th scope="col" class="px-6 py-4">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% if user.id != session.id %}
            <tr class="editable commune-item odd:bg-neutral-50 even:bg-gray-100">
                <td class="editable px-6 py-4" data-id="{{ user.id }}" data-field="id">
                    {{ user.id }}
                </td>
                <td class="editable px-6 py-4" data-id="{{ user.id }}" data-field="id">
                    {{ user.email }}
                </td>
                <td class="editable px-6 py-4" data-id="{{ user.id }}" data-field="id">
                    {{ user.username }}
                </td>
                <td class="editable px-6 py-4" data-id="{{ user.id }}" data-field="id">
                    <select class="role-select" data-id="{{ user.id }}" data-field="role_id">
                        <option selected disabled>Choisissez le rôle</option>
                        {% for role in roles %}
                        <option value="{{ role.id }}" {% if role.id==user.role_id %}selected{% endif %}>{{ role.role }}
                        </option>
                        {% endfor %}
                    </select>
                </td>

                <td class="editable px-6 py-4" data-id="{{ user.id }}" data-field="id">
                    {% if session.role_id == 1 %}
                    <button class="save-btn" data-id="{{ user.id }}">Valider</button>
                    <a href="controleur.php?page=user&action=delete&id={{user.id}}">Supprimer</a>
                    <p class="message" data-id="{{ user.id }}" style="display: none;"></p>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>