{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page detail</h1>

    <p>Nom : {{ asr.nom }}</p>
    <p>Code Postal : {{ asr.cp }}</p>

    <h2>Rapports associé à cette commune :</h2>
{% endblock %}