{% extends 'base.html.twig' %}

{% block body %}
<form action="controleur.php?page=user&action=login" method="post">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required>
    
    <input type="submit" value="Se connecter">
</form>

<p>Pas de compte ? Créer un compte <a href="controleur.php?page=user&action=create"><strong>ici</strong></a></p>


{% if errorMessageLog is defined %}
    <p>{{ errorMessageLog }}</p>
{% endif %}
{% endblock %}