{% extends 'base.html.twig' %}

{% block body %}

<form action="controleur.php?page=user&action=create" method="post">
    
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="@sdea.fr" pattern=".+@sdea\.fr$" required>

    <label for="role_id">Rôle:</label>
    <select name="role_id">
        <option selected disabled>Choisissez le rôle</option>
        {% for role in roles %}
            <option value="{{ role.id }}">{{ role.role }}</option>
        {% endfor %}
    </select>
    
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{6,}" required>
    <p id="passwordLengthCondition" style="color: red;">6 caractères.</p>
    <p id="passwordUppercaseCondition" style="color: red;">Une majuscule.</p>
    <p id="passwordNumberCondition" style="color: red;">1 chiffre.</p>
    <p id="passwordSpecialCondition" style="color: red;">1 caractère spécial.</p>
    
    <input type="submit" value="S'inscrire">
</form>

{# lien retourner a la page d'accueil #}

<a href="controleur.php?page=home">Retour à l'accueil</a>

<script>
    document.getElementById('password').addEventListener('input', function() {
        document.getElementById('passwordLengthCondition').style.color = this.value.length >= 6 ? 'green' : 'red';
        document.getElementById('passwordUppercaseCondition').style.color = /[A-Z]/.test(this.value) ? 'green' : 'red';
        document.getElementById('passwordNumberCondition').style.color = /\d/.test(this.value) ? 'green' : 'red';
        document.getElementById('passwordSpecialCondition').style.color = /[\W_]/.test(this.value) ? 'green' : 'red';
    });
</script>
    
{% endblock %}