{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur la liste des comptes</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                {# <th>Roles</th> #}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.id != session.id %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if session.role_id == 1 %}
                                <a href="controleur.php?page=user&action=update&id={{user.id}}">Modifier</a>
                                <a href="controleur.php?page=user&action=delete&id={{user.id}}">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <h3><a href="controleur.php?page=user&action=create">Ajouter</a> un utilisateur</h3>
{% endblock %}